body {
	padding: 20px 0;
}

header h1 {
	font-size: 1.8rem;
}
header p {
	font-size: 1rem;
}

main, header {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

#giphy-form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	align-items: center;
}

#giphy-form label {
	font-size: 1.3rem;
}

#results {
	border: 2px solid black;
	min-height: 450px;
	margin-top: 25px;
}
