body {
	margin: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/** MOBILE VIEW **/
@media only screen and (max-width: 550px) {
	.wrapper {
		display: block;
	}	
	.panel {
		width: 100%;
		min-height: auto!important;
	}
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 15px;
	vertical-align: top;
	box-sizing: border-box;
	min-height: 100vh;
}

#left-panel input[type="submit"] {
	display: block;
	border: none;
	background-color: pink;
	font-weight: 600;
	font-size: 1.1rem;
	border-radius: 0;
	padding: 15px 10px;
	margin-top: 15px;
}

#right-panel {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: pink;
}

#mario-hover {
	padding: 45px 0;
	animation: float 3s ease-in-out infinite;
    display: block;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
    }
    50% {
        transform: translateY(-20px);
        filter: drop-shadow(0 15px 15px rgba(0,0,0,0.2));
    }
}

